ErrorDocument    100 "Continue"
ErrorDocument    101 "Switching Protocols"

ErrorDocument    200 "OK"
ErrorDocument    201 "Created"
ErrorDocument    202 "Accepted"
ErrorDocument    203 "Non-Authoritative Information"
ErrorDocument    204 "No Content"
ErrorDocument    205 "Reset Content"
ErrorDocument    206 "Partial Content"

ErrorDocument    300 "Multiple Choices"
ErrorDocument    301 "Moved Permanently"
ErrorDocument    302 "Found"
ErrorDocument    303 "See Other"
ErrorDocument    304 "Not Modified"
ErrorDocument    305 "Use Proxy"
ErrorDocument    307 "Temporary Redirect"

ErrorDocument    400 "Bad Request"
ErrorDocument    401 "Unauthorized"
ErrorDocument    402 "Payment Required"
ErrorDocument    403 "Forbidden"
ErrorDocument    404 http://localhost/authentimail/src/errors/404.php
ErrorDocument    405 "Method Not Allowed"
ErrorDocument    406 "Not Acceptable"
ErrorDocument    407 "Proxy Authentication Required"
ErrorDocument    408 "Request Timeout"
ErrorDocument    409 "Conflict"
ErrorDocument    410 "Gone"
ErrorDocument    411 "Length Required"
ErrorDocument    412 "Precondition Failed"
ErrorDocument    413 "Request Entity Too Large"
ErrorDocument    414 "Request-URI Too Long"
ErrorDocument    415 "Unsupported Media Type"
ErrorDocument    416 "Requested Range Not Satisfiable"
ErrorDocument    417 "Expectation Failed"

ErrorDocument    500 "Internal Server Error"
ErrorDocument    501 "Not Implemented"
ErrorDocument    502 "Bad Gateway"
ErrorDocument    503 "Service Unavailable"
ErrorDocument    504 "Gateway Timeout"
ErrorDocument    505 "HTTP Version Not Supported"